/*
 *  Your app styles
 */

$RobotoDraftFontPath: "../lib/robotodraft/fonts"; // REMINDER: edit as appropriate!
$RobotoDraftFontName: "RobotoDraft";
$RobotoDraftFontVersion: "1.0.0";

@import "www/lib/robotodraft/sass/robotodraft.scss";    // REMINDER: edit as appropriate!