<ion-view title="Tradução" hide-nav-bar="true">

    <ion-content class="has-footer">
        <h1 class="header text-center positive padding">Votação da melhor legenda</h1>
        <div class="list padding">
            <div ng-if="task2">
                <video 
                controls autoplay webkit-playsinline
                type="video/mp4">
                    HTML5 Video is required for this example
                </video>
                <p> Legenda original: <span ng-bind-html="task2.legenda_original"></span></p>
                <button ng-repeat="leg in task2.legendas" ng-click="save(leg);" class="button button-full icon-left ion-android-arrow-dropright-circle button-positive"><div class="content">{{leg.legenda}}</div></button>
            </div>
            <strong ng-show="!task2">Tarefa ainda não disponível.</strong>
        </div>
    </ion-content>
</ion-view>
