<ion-view title="Tradução" hide-nav-bar="true">

    <ion-content class="has-footer">
        <h1 class="header text-center positive padding">Tradução de legendas</h1>
        <div class="list padding">
            <div>
                <video 
                controls autoplay webkit-playsinline
                type="video/mp4">
                    HTML5 Video is required for this example
                </video>
                <p>Legenda original: <span ng-bind-html="task1.legenda"></span></p>
                <label class="item item-input">
                    <input type="text" ng-model="task1Submit.legenda"  placeholder="digite a tradução dessa legenda">
                </label>
                <button ng-disabled="!task1Submit.legenda" ng-click="save();" class="button button-full icon-left ion-android-arrow-dropright-circle button-positive"><div class="content">Enviar tradução</div></button>
            </div>
        </div>
    </ion-content>

</ion-view>
